// COLORS
$color-primary: #ff8c00;
$color-primary-dark: #ff8c0044;
$color-primary-dark-2: #ff8c0013;

$color-secondary: #48b698ff;
$color-secondary-light: #7fccb7;
$color-secondary-dark: #33806b;

$color-tertiary: #dda697;
$color-tertiary-light: #f2b791;

$color-purple: #70205f;
$color-purple-bright: #8d1c75;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-glass: rgba(255, 255, 255, 0.2);

$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

// Border radious
$border-radius-low: 0.5rem;
$border-radius-mid: 1rem;
$border-radius-circle: 50%;
