// import scss navbar file
@import "navbar";
@import "loginForm";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  // linear gradient shades of very light orange
  background: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
