// import scss navbar file
@import "navbar";
@import "loginForm";
@import "registerForm";
@import "dashboard";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}
